@import url(__item/photo-grid__item.css);

.photo-grid {
    display: grid;
    margin: 0;
    padding: 0;
    width: calc(100% - (2 * 48px));
    margin-bottom: 92px;
    list-style: none;
    justify-content: center;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
}


@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        width: calc(100% - (2 * 24px));
        grid-gap: 16px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 430px) {
    .photo-grid {
        width: calc(100% - (2 * 16px)); /*looks better to me if this is done around 430px instead of when the width is even smaller, things get too crammed too quickly*/
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        grid-gap: 12px;
        margin-bottom: 64px;
    }
}