/* this is the containing ul for the 3 footer li links, make sure to remove list styling in here */

.footer__links {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 211px;
}

@media screen and (max-width: 450px) { /*Changed this early to make it look better at lower resolutions before reaching the 320 threshold*/
    .footer__links {
        flex-direction: column;
        height: 198px;
        margin-bottom: 48px;
        width: 168px;
    }
}