.cover__title {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px; /*keeps the title away from the edges around weird spots such as 525px width*/
}

@media screen and (max-width: 350px) { /*Did this breakpoint a little above 320px on purpose, as it looks bad if the break isn't until 320*/
    .cover__title {
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 35px;
    }
}